# node_modules 依赖包
node_modules/

# 打包生成的dist目录
/dist/

/unpackage/

# HBuilderX 编译缓存文件
/.hbuilderx/

# npm debug 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境配置文件
.env
.env.* 

# 平台生成的临时文件（如安卓、iOS编译文件）
/platforms/
/android/
/ios/

# VSCode 配置文件
.vscode/

# MacOS系统隐藏文件
.DS_Store

# log 日志文件
*.log

# 临时文件
*.tmp


/utils/aliyunoss.js